body{
    margin: 0;
    color: #7e8793;
    font-family: Arial, Helvetica, 'Microsoft Yahei',sans-serif;;
}

/* 搜索 */
.home-banner{
    width: 100%;
    height: 196px;
    background: url(../images/home-bg.png) center center no-repeat;
    background-size: cover;
    text-align: center;
}
.home-banner img{
    width: 65%;
    margin: 36px 0 20px;
}
.home-banner form{
    background: #fff;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    border-radius: 30px;
    height: 40px;
    position: relative;
}
.home-banner form input{
    width: 75%;
    height: 40px;
    border-radius: 30px;
    line-height: 40px;
    border: none;
    font-size: 14px;
    color: #aeaeae;
    left: 15px;
    position: absolute;
    outline: none;
    top: 1px;
}

.home-banner form button{
    background-color: #fff;
    color: #5bd4c7;
    font-size: 14px;
    position: absolute;
    border: none;
    width: 60px;
    top: 9px;
    right: 8px;
}


/* 内容区 */
.home-content{
    padding: 0 1rem;
}
.home-content dl dt{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    color: #404855;
    font-size: 13px;
    overflow: hidden;
}
dl dt img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    vertical-align: middle;
    float: left;
}
dt div h4{
    font-size: 15px;
    margin-top: 14px;
}
.home-content dd,.home-content dt{
    margin: 0 15px;
    color: #525252;
    font-size: 18px;
}
.home-content dd a{
    padding: 8px 16px;
    font-size: 13px;
    color: #7e8793;
    line-height: 13px;
    background: #f5f8f9;
    border-radius: 100px;
    margin: 0 8px 8px 0;
    display: inline-block;
}


/* 底部 */
.home-footer{
    padding: 20px 0 80px;
    display: inline-block;
    line-height: 18px;
    color: #919aa7;
    font-size: 12px;
    text-align: start;
    position: absolute;
    left: 50%;
    margin-left: -128.465px;
}
.home-footer p{
    margin: 0;
}


/* 广告s */
.adj{
    width: 100%;
    height: 56px;
    background-color: #5dd5ca;
    position: fixed;
    bottom: 0px;
    left: 0;
}
.adj span{
    float: right;
    margin-right: 18px;
    width: 81px;
    height: 32px;
    background-color: #fff;
    color: #5dd5ca;
    font-size: 14px;
    border-radius: 30px;
    text-align: center;
    line-height: 32px;
    margin-top: 12px;
}
.adj div{
    margin-left: 18px;
    margin-right: 105px;
    color: #fff;
    font-size: 14px;
}
.adj div img{
    width: 42px;
    height: 42px;
    margin-top: 7px;
    margin-right: 10px;
}
.adj div p{
    display: inline-block;
    position: absolute;
    top: -5px;
}

